<header>
  <nav style="color:white" class="navbar navbar-expand-lg navbar-light bg-light" *ngIf="isUserLoggedIn">
    <a class="navbar-brand"  href="#"><strong>SICCA</strong></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown" style="float:left;">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="asignacionGrupoProfesor">Grupos Asingados <span class="sr-only">(current)</span></a>
        </li>
  
        <li class="nav-item" routerLinkActive="Active">
          <a class="nav-link" routerLink="" > Resportes </a>
        </li>
      </ul>
    </div>
    <div style="float: right;">
      <a class="nav-item"><strong>Bienvenido:</strong> {{identity.nombre}} {{identity.lastname}}</a>
      <a (click)="Logout()" class="cnt-white" class="nav-item"> Cerrar Sesión</a>  
    </div>
  </nav>
</header>

  