.bg-light {
    background-color: #002e60!important;
}

.navbar-light .navbar-brand {
    color: rgba(255, 255, 255, 0.9);
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: rgba(255, 254, 254, 0.9);
}
.navbar-light .navbar-nav .nav-link {
    color: rgb(255, 255, 255);
}
