<footer class="bg-dark rounded-top text-center footer">
    <div class="row-fluid">
      <p class="text-white my-2">
        &copy;{{autor.nombre+ ' ' + autor.siglas }}
      </p>
    </div>
</footer>
