<app-header title="Momentz-4-ever"
[isUserLoggedIn]="true"> <meta charset="utf-8"></app-header>

<div class="container my-3">
<div id="th-btn" class="row-fluid">
  <button type="button" class="btn btn-primary" (click)='mostrarUnidades()'>
    Seleccionar Unidad
  </button>

  <button (click)="downloadPDFEmpty()" class="btn btn-primary">
    Descargar lista
  </button>
<button (click)="downloadFull()" class="btn btn-primary">
    Descargar lista llena
  </button>

</div>
<div class="table-responsive" id="tb-ma">
  <table class="table table-hover">
    <title>Tus materias asignadas</title>
    <thead class="bg-green">
      <tr>
        <th class="text-center" style="width: 20px;">#</th>
        <th class="text-center">Alumno</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let alumnos of alumnos; let i = index">
        <td style="vertical-align:middle;" class="text-center text-green text-strong">{{i + 1}}</td>
        <td class="text-center" style="vertical-align:middle;">{{alumnos.alumno.nombre}} {{alumnos.alumno.lastname}}</td>
      </tr>
  </table>
</div>
</div>
<app-footer></app-footer>