<div id="login">
    <div class="container">
        <div id="login-row" class="row justify-content-center align-items-center">
            <div id="login-column" class="col-md-6">
                <div id="login-box" class="col-md-12">

                    <form class="md-float-material" #loginForm="ngForm" (ngSubmit)="onSubmit()">
                        <div class="text-center">
                            <h1 class="titulo_app">Bienvenido a SICA </h1>
                            <p>Sistema de calificaciones</p>
                        </div>
                        <div class="auth-box">

                            <div class="input-group">
                                <input type="email" id="email" name="email" [(ngModel)]="profesor.username" #email="ngModel" class="form-control" placeholder="Correo"
                                    required>
                                <span class="md-line"></span>
                            </div>

                            <div *ngIf="!email.valid && email.touched" class="label-main errorLabel">
                                <label class="label label-danger">Ingresa tu correo electrónico</label>
                            </div>

                            <div class="input-group">
                                <input type="password" name="password" id="password" [(ngModel)]="profesor.password" #password="ngModel" class="form-control"
                                    placeholder="Contraseña" required>
                                <span class="md-line"></span>
                            </div>

                            <div *ngIf="!password.valid && password.touched" class="label-main errorLabel">
                                <label class="label label-danger">Ingresa la contraseña</label>
                            </div>
                            <div class="row m-t-25">
                                <div class="col-md-12">
                                    <button [disabled]="!loginForm.form.valid" type="submit" style="background: #187CA8;" class="inicio_btn btn btn-primary btn-md btn-block waves-effect text-center m-b-20">Iniciar Sesión</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>