
<app-header title="Momentz-4-ever"
[isUserLoggedIn]="true"></app-header>
<div class="container my-3">
<div class="table-responsive dd">
    <table class="table table-hover">
        <title>Tus materias asignadas</title>
        <thead class="bg-green">
            <tr>
                <th class="text-center" style="width: 20px;">#</th>
                <th class="text-center">Materia</th>
                <th class="text-center">Area</th>
                <th class="text-center">Grupo</th>
                <th class="text-center" style="width:20px;">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let materiasAsignadas of asignacionGrupoProfesor; let i = index">
                <td style="vertical-align:middle;" class="text-center text-green text-strong">{{i + 1}}</td>
                <td class="text-center" style="vertical-align:middle;">{{materiasAsignadas.materia.nombre}}</td>
                <td class="text-center" style="vertical-align:middle;">{{materiasAsignadas.materia.areaId.nombre}}</td>
                <td class="text-center" style="vertical-align:middle;">{{materiasAsignadas.periodoHasGrupo.grupoId.nombre}}</td>
                <td class="text-center">
                    <button [routerLink]="['/calificacionAlumno', materiasAsignadas.id]"  type="button" class="btn btn-default btn-sm">
                        <i class="fas fa-eye"></i>
                    </button>
                </td>
            </tr>
    </table>
</div>
</div>
<app-footer></app-footer>